.MenuLink {
  &__Link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 4rem;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    border: 0;
    border-left: 0.5rem solid transparent;
    transition: 0.3s;

    &:hover {
      background-color: #fbfbfb;
      border-left-color: rgb(183, 183, 252);
    }

    &--active {
      border-left: 1rem solid rgb(183, 183, 252);
    }
  }

  &__Link--active &__Text {
    font-weight: 500;
  }

  &__Link svg {
    margin-right: 1rem;
  }
}
