.BackArrow {
  position: absolute;
  top: 3rem;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  color: black;
  background-color: transparent;
  align-items: center;
  font-size: 1.8rem;
  transition: 0.3s;

  &:hover {
    background-color: #fbfbfb;
  }

  & span {
    margin-left: 1rem;
  }
}
