.BackArrow {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1rem 0 0;
  font-size: 1.8rem;
  color: black;
  transform: translateX(0);
  transition: 0.3s;

  &:hover {
    transform: translateX(-0.5rem);
  }
}
