.Button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 0.1rem solid;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
  min-width: 3.5rem;
  max-height: 3.5rem;
  min-height: 3.5rem;

  &:focus {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.28);
    border-color: #03e2ff;
  }

  &--edit {
    color: #0000a1;
    background-color: #a8a8ff;
    border-color: blue;
  }

  &--delete {
    margin-left: 1.5rem;
    color: #d10000;
    background-color: #ffaaaa;
    border-color: red;
  }

  &--close {
    position: absolute;
    right: 0;
    margin: 1rem 1rem 0 0;
    color: #d10000;
    background-color: #ffaaaa;
    border-color: red;
  }

  &--create {
    color: #005400;
    background-color: #c3ffc3;
    border-color: #00ff00;
  }

  &--add {
    margin-left: 0.5rem;
    color: #005400;
    background-color: #c3ffc3;
    border-color: #00ff00;
  }

  &--download {
    color: #600060;
    background-color: #ffbbff;
    border-color: magenta;

    & span {
      margin-right: 0.5rem;
    }
  }

  &--view {
    margin-left: 1.5rem;
    color: #535400;
    background-color: #faffc3;
    border-color: #ffc400;
  }

  &--update {
    color: rgb(87, 56, 0);
    background-color: rgb(255, 227, 174);
    border-color: orange;
  }

  &--arrow-back {
    position: absolute;
    top: 3rem;
    left: 0;
    justify-content: center;
    color: black;
    background-color: transparent;
    border-color: transparent;
    border-style: dashed;
    &:hover {
      background-color: #fbfbfb;
      border-color: black;
    }
    & span {
      margin-left: 1rem;
    }
  }
}
