.Container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  width: 70%;
  height: 100%;

  &-Table {
    width: 100%;
  }
  &_menu-users {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &_menu-dowload {
    width: 73%;
  }
}
