.Modal {
  position: fixed;
  background: #00000075;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Container {
    position: relative;
    padding: 0 10rem 5rem;
    min-width: 10rem;
    min-height: 10rem;
    background-color: white;
    border-radius: 0.6rem;
  }
}
