.Users {
  &_Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--center {
      margin-top: 4rem;
    }
  }

  &_Buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
