.Users {
  &_Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &_Buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
