.Speciality {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  width: 70%;
  height: 100%;

  &-Form {
    &__Input {
      padding: 0.5rem 2rem;
      border: 0.1rem solid black;
      border-radius: 0.6rem;
      outline: none;
      font-size: 1.4rem;

      &--start {
        margin-right: 2rem;
      }
    }
  }

  &-Table {
    width: 100%;
  }
}
