.MenuLink {
  // margin-bottom: 0.4rem;
  padding: 1rem 4rem;
  background-color: transparent;
  border-top: 0.1rem solid transparent;
  border-bottom: 0.1rem solid transparent;
  transition: 0.1s;

  &:hover {
    background-color: #f3f3f3;
    border-top-color: black;
    border-bottom-color: black;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: black;
  }

  &__link svg {
    margin-right: 1rem;
  }
}
