.DataTable {
  border: 0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.28);
  border-radius: 0.6rem;

  &__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #e5e5e5;
    border-bottom: 0.1rem solid black;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;

    &-item {
      font-size: 1.6rem;
      font-weight: 500;
      width: 33.3%;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
